*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
div{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
}
body{
    background-color: chocolate;
}
input{
    padding: 20px 70px;
    font-size: 22px;
    border-radius: 10px;
    text-align: center;
    width: 800px;
}
button:hover{
    background-color: cornflowerblue;
    border-radius: 15px;
    cursor: pointer;
}
button{
    padding: 10px 50px;
    border-radius: 10px;
}